<nav class="navbar navbar-light bg-light">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" id="home" [routerLink]="['/home']" routerLinkActive="active">
                <i class="fas fa-home text-35"></i><br> Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="messages" [routerLink]="['/messages']" routerLinkActive="active">
                <i class="far fa-envelope text-35"></i><br> Messages
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="wishlist" [routerLink]="['/wishlist']" routerLinkActive="active">
                <i class="fas fa-star text-35"></i><br> Wishlist
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="settings" [routerLink]="['/settings']" routerLinkActive="active">
                <i class="fas fa-cog text-35"></i><br> Settings
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="account" [routerLink]="['/account']" routerLinkActive="active">
                <i class="fas fa-user text-35"></i><br> My Account
            </a>
        </li>
    </ul>
</nav>