<nav class="col-md-2 d-none d-md-block bg-light sidebar ">
    <div class="sidebar-sticky py-5 text-center">

        <a class="navbar-brand text-center text-white py-4" href="#">
            <img src="assets/images/logo.png" width="100" height="100" alt="">
        </a>

        <h6 class="sidebar-heading text-muted">
            <i class="far fa-lightbulb"></i>
            <span> Smart Filters</span>
        </h6>

        <hr class="style1">

        <div class="row text-center pb-3">
            <div class="col-md-6">
                <i class="fa-2x fas fa-certificate align-middle"></i>
            </div>
            <div class="col-md-6">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1"></label>
                </div>
            </div>
        </div>

        <div class="row text-center pb-3">
            <div class="col-md-6">
                <i class="fa-2x far fa-calendar align-middle"></i>
            </div>
            <div class="col-md-6">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch2">
                    <label class="custom-control-label" for="customSwitch2"></label>
                </div>
            </div>
        </div>

        <div class="row text-center ">
            <div class="col-md-6">
                <i class="fa-2x far fa-heart align-middle"></i>
            </div>
            <div class="col-md-6">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch3">
                    <label class="custom-control-label" for="customSwitch3"></label>
                </div>
            </div>
        </div>

        <hr class="style1">

        <h6 class="sidebar-heading align-items-center text-muted">
            <span>Status</span>
        </h6>

        <div class="row">
            <div class="col-md-12 px-4">
                <input type="text" class="form-control fontAwesome" id="validationDefault03" placeholder="&#xF002; Search" required style="text-align:center">
            </div>
            <br>
            <br>
            <div class="col-md-12 px-4">
                <button class="btn btn-light" type="submit" style="width: 100%">DELIVERED</button>
            </div>
        </div>

    </div>
</nav>