<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">

    <div class="checkbox">
        <label>
            <input type="checkbox" value="" checked>
            <span class="cr">
                <i class="cr-icon fas fa-check">
                </i>
            </span>
         </label>
    </div>

    <div>
        <input type="text" class="form-control fontAwesome search-list" id="validationDefault03" placeholder="&#xF002; Search" required style="text-align:center">
    </div>

</div>

<div class="py-3 text-muted">
    <div class="row align-items-center">
        <div class="col-md-1">
            <i class="check-icon fas fa-check"></i>
        </div>
        <div class="col-md-11">
            <div class="row custome-list text-center align-items-center">
                <div class="col-md-2 border-right">
                    Monday
                    <br> 10th 2:28
                    <br> PM
                </div>
                <div class="col-md-4 border-right">
                    <div class="row align-items-center">
                        <div class="col-md-4 sub-icon">
                            <i class="fas fa-location-arrow"></i>
                        </div>
                        <div class="col-md-8">
                            Houston, TX, 33619
                            <br>
                            <i class="list-icon fas fa-chevron-down "></i>
                            <br> Atlanta, GA, 30123
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 text-s50">
                            <i class="fas fa-truck" data-fa-transform="flip-h"></i>
                        </div>
                        <div class="col-md-4">
                            <h2>$250.00</h2>
                        </div>
                        <div class="col-md-2 align-self-center ">
                            <span class="badge badge-danger badge-lg">4</span>
                        </div>
                        <div class="col-md-2 align-self-center">
                            <div class="dropdown dropleft">
                                <a class="text-muted" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v text-s30"></i>
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Add to favorites</a>
                                    <a class="dropdown-item" href="#">Track</a>
                                    <a class="dropdown-item" href="#">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="py-3 text-muted">
    <div class="row align-items-center">
        <div class="col-md-1">
            <i class="check-icon fas fa-check"></i>
        </div>
        <div class="col-md-11">
            <div class="row custome-list text-center align-items-center">
                <div class="col-md-2 border-right">
                    Monday
                    <br> 10th 2:28
                    <br> PM
                </div>
                <div class="col-md-4 border-right">
                    <div class="row align-items-center">
                        <div class="col-md-4 sub-icon">
                            <i class="fas fa-location-arrow"></i>
                        </div>
                        <div class="col-md-8">
                            Houston, TX, 33619
                            <br>
                            <i class="list-icon fas fa-chevron-down "></i>
                            <br> Atlanta, GA, 30123
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 text-s50">
                            <i class="fas fa-truck" data-fa-transform="flip-h"></i>
                        </div>
                        <div class="col-md-4">
                            <h2>$250.00</h2>
                        </div>
                        <div class="col-md-2 align-self-center ">
                            <span class="badge badge-danger badge-lg">4</span>
                        </div>
                        <div class="col-md-2 align-self-center">
                            <div class="dropdown dropleft">
                                <a class="text-muted" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v text-s30"></i>
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Add to favorites</a>
                                    <a class="dropdown-item" href="#">Track</a>
                                    <a class="dropdown-item" href="#">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="py-3 text-muted">
    <div class="row align-items-center">
        <div class="col-md-1">
            <i class="check-icon fas fa-check"></i>
        </div>
        <div class="col-md-11">
            <div class="row custome-list text-center align-items-center">
                <div class="col-md-2 border-right">
                    Monday
                    <br> 10th 2:28
                    <br> PM
                </div>
                <div class="col-md-4 border-right">
                    <div class="row align-items-center">
                        <div class="col-md-4 sub-icon">
                            <i class="fas fa-location-arrow"></i>
                        </div>
                        <div class="col-md-8">
                            Houston, TX, 33619
                            <br>
                            <i class="list-icon fas fa-chevron-down "></i>
                            <br> Atlanta, GA, 30123
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 text-s50">
                            <i class="fas fa-truck" data-fa-transform="flip-h"></i>
                        </div>
                        <div class="col-md-4">
                            <h2>$250.00</h2>
                        </div>
                        <div class="col-md-2 align-self-center ">
                            <span class="badge badge-danger badge-lg">4</span>
                        </div>
                        <div class="col-md-2 align-self-center">
                            <div class="dropdown dropleft">
                                <a class="text-muted" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v text-s30"></i>
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Add to favorites</a>
                                    <a class="dropdown-item" href="#">Track</a>
                                    <a class="dropdown-item" href="#">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>